@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}
@import './variables';

body {
  background-color: $bg-color-primary;
  color: $text-color-primary;
  font-family: $font-family-primary-light;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary-heavy;
}