// GLOBAL COLORS
$bg-color-primary: rgb(17, 13, 45);
$bg-color-secondary: rgb(237, 237, 237);

$text-color-primary: rgb(237, 237, 237);
$text-color-secondary: rgb(17, 13, 45);

$border-color-primary: rgba(237, 237, 237, 0.55);

// GLOBAL FONTS
$font-family-primary-heavy: 'Rubik-Bold', sans-serif;
$font-family-primary-regular: 'Rubik-Regular', sans-serif;
$font-family-primary-light: 'Rubik-Light', sans-serif;