// GLOBAL COLORS
$bg-color-primary: rgb(17, 13, 45);
$bg-color-secondary: rgb(237, 237, 237);
$bg-color-tertiary: rgb(0, 0, 0);

$text-color-primary: rgb(237, 237, 237);
$text-color-secondary: rgb(17, 13, 45);
$text-color-alert: #80cc8c;
$text-color-delete: rgb(193, 20, 20);

$border-color-primary: rgba(237, 237, 237, 0.55);
$border-color-secondary: rgba(237, 237, 237, 0.22);

// GLOBAL FONTS
$font-family-primary-heavy: 'Rubik-Bold', sans-serif;
$font-family-primary-regular: 'Rubik-Regular', sans-serif;
$font-family-primary-light: 'Rubik-Light', sans-serif;

// GLOBAL LAYOUT
$width-element-primary: 80%;