.bta-app-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bta-app-menu-hamburger {
  position: fixed;
  z-index: 999;
  right: 22px;
  top: 26px;
}

.bta-app-main-heading {
  text-align: center;
  font-size: 1.7em;
  margin: 1em 0 0.67em 0;
  @media screen and (min-width: 321px) {
    margin: 0.67em 0;
    font-size: 2em;
  }
}

.bta-app-secondary-heading {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  text-align: center;
  color: $text-color-alert;
  transition: opacity 0.2s ease;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.bta-app-heading-container {
  margin-bottom: 20px;
  @media screen and (min-width: 321px) {
    margin-bottom: 25px;
  }
}

.bta-app-categories-container {
  width: $width-element-primary;
  margin-bottom: 0px;
}

.bta-app-price-container,
.bta-app-progress-container {
  width: $width-element-primary;
  margin-bottom: 25px;
}

.bta-app-submit-container {
  width: $width-element-primary;
}

.bta-app-price-container {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: center;
}

.bta-currency-label {
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8em;
  @media screen and (min-width: 321px) {
    justify-content: center;
  }
}

.bta-app-submit-container {
  height: 80px;
  border: 1px solid $border-color-primary;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.bta-app-progress-container {
  height: 50px;
  display: flex;
  align-items: flex-start;
}

.bta-app-submit-button {
  width: 100%;
  height: 100%;
  color: $text-color-primary;
  outline: none;
  &:active {
    background-color: $bg-color-secondary;
    color: $text-color-secondary;
  }
}