.bta-history-container {
  position: fixed;
  height: 0;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color-tertiary;
  opacity: 0;
  transition: height 0.4s, opacity 0.6s ease;
  &.open {
    height: 100%;
    opacity: 0.9;
  }
}

.bta-history-header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: black;
}

.bta-history-list-block {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.bta-history-item-list {
  margin: 0;
  padding: 80px 0 0 0;
}