.bta-numeral-select-container {
  width: 75px;
  height: 80px;
  border: 1px solid $border-color-primary;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active {
    background-color: $bg-color-secondary;
    color: $text-color-secondary;
  }
}